.bgcolor{
  background-color: #4c4c4c;
}
.navbar-brand , .nav-link{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.nav-link {
 
  font-size: 16px;
  
}
.nav-button{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

button {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to right, #ec3f59, #f67831);
}
.herobg{
  height: 90vh;
  display: flex;
  align-items: center;
  line-height: 40px;
}
h6 {
  color: #f67831;
}
h1 ,p {
  color: #fff;
}
h1{
font-size: 4rem;
}
.primary-btn{
  display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    text-align: center;
    width: 160px;
    height: 46px;
    border-left: 2px solid #eb3c5a;
    border-right: 2px solid #f67831;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    line-height: 45px;
    position: relative;
    z-index: 1;
    border-top: 2px solid #f67831;
    border-bottom: 2px solid #eb3c5a;
    background-color: #eb3c5a;
}
a{
  text-decoration: none;
    background-color: transparent;
}
.spad{
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-pic{
  position: relative;
}
.about-pic .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-41.5px, -41.5px);
}
.about-text {
  padding-top: 15px;
  padding-left: 40px;
}
.about-text h2 {
  font-size: 40px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}
.about-text p.first-para {
  margin-bottom: 10px;
  
}
.about-text p.second-para {
  margin-bottom: 50px;
 
}
.about-text p{
  color: #6b6b6b;
  font-size: 16px;
}